/* Qiuck examples of basic CSS Flexbox */
h1 {
    font-size: 3em;
    font-weight: 800;
    font-style: oblique;
}


/* Flexbox row */
#example-container {
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: space-evenly;
}
#box-container {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: row;
}
#box-1 {
    background-color: blue;
    width: 50%;
    height: 50%;
}
#box-2 {
    background-color: red;
    width: 50%;
    height: 50%;
}


/* Row-reverse */
#box-container-2 {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: row-reverse;
}
#box-3 {
    background-color: blue;
    width: 50%;
    height: 50%;
}
#box-4 {
    background-color: red;
    width: 50%;
    height: 50%;
}

/* Column  */
#box-container-3 {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
}
#box-5 {
    background-color: blue;
    width: 50%;
    height: 50%;
}
#box-6 {
    background-color: red;
    width: 50%;
    height: 50%;
}


/* Justify content property */
.big-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 20px;
}
.small-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 800;
}
.justify-container {
    display: flex;
    height: 500px;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid black;
}
/* Justify content start */
#box-container-4 {
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: row;
    background-color: lightgreen;
    justify-content: start;
}
#box-7 {
    background-color: blue;
    width: 25%;
    height: 50%;
}
#box-8 {
    background-color: red;
    width: 25%;
    height: 50%;
}

#box-container-5 {
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: column;
    background-color: lightgreen;
    justify-content: start;
}
.box-9 {
    background-color: blue;
    width: 20%;
    height: 100%;
}
.box-10 {
    background-color: red;
    width: 20%;
    height: 100%;
}
.box-11 {
    background-color: yellow;
    width: 20%;
    height: 100%;
}

#box-container-6 {
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: row;
    background-color: lightgreen;
    justify-content: end;
}

#box-container-7 {
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: column;
    background-color: lightgreen;
    justify-content: end;
}
#box-container-8 {
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: column;
    background-color: lightgreen;
}

#box-container-9 {
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: row;
    background-color: lightgreen;
    justify-content: space-between;
}
#box-container-10 {
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: row;
    background-color: lightgreen;
    justify-content: space-between;
}

#box-container-11 {
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: column;
    background-color: lightgreen;
    justify-content: space-between;
}

.row-column-container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px dashed red;
    width: 100%;
    height: 30%;
    margin: 1px;
}
.row-column-container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px dashed red;
    width: 30%;
    height: 100%;
    margin: 1px;
}
.description {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
}
.col-box-9 {
    background-color: blue;
    width: 100%;
    height: 20%;
}
.col-box-10 {
    background-color: red;
    width: 100%;
    height: 20%;
}
.col-box-11 {
    background-color: yellow;
    width: 100%;
    height: 20%;
}

/* Examples of justify-content: space-around */
.row-column-container-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px dashed red;
    width: 100%;
    height: 30%;
    margin: 1px;
}
.row-column-container-4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px dashed red;
    width: 30%;
    height: 100%;
    margin: 1px;
}

/* Examples of justify-content: space-evenly */
.row-column-container-5{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px dashed red;
    width: 100%;
    height: 30%;
    margin: 1px;
}
.row-column-container-6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px dashed red;
    width: 30%;
    height: 100%;
    margin: 1px;
}

/* Examples of align-items: center */
.row-column-container-7{
    display: flex;
    flex-direction: row;
    border: 2px dashed red;
    width: 100%;
    height: 30%;
    margin: 1px;
    align-items: center;
}
.row-column-container-8{
    display: flex;
    flex-direction: column;
    border: 2px dashed red;
    width: 30%;
    height: 100%;
    margin: 1px;
    align-items: center;
}
.ali-box-9 {
    background-color: blue;
    width: 20%;
    height: 30%;
}
.ali-box-10 {
    background-color: red;
    width: 20%;
    height: 30%;
}
.ali-box-11 {
    background-color: yellow;
    width: 20%;
    height: 30%;
}
.ali-col-box-9 {
    background-color: blue;
    width: 40%;
    height: 20%;
}
.ali-col-box-10 {
    background-color: red;
    width: 40%;
    height: 20%;
}
.ali-col-box-11 {
    background-color: yellow;
    width: 40%;
    height: 20%;
}
.row-column-container-9{
    display: flex;
    flex-direction: row;
    border: 2px dashed red;
    width: 100%;
    height: 30%;
    margin: 1px;
    align-items: flex-start;
}
.row-column-container-10{
    display: flex;
    flex-direction: column;
    border: 2px dashed red;
    width: 30%;
    height: 100%;
    margin: 1px;
    align-items: flex-start;
}
.row-column-container-11{
    display: flex;
    flex-direction: row;
    border: 2px dashed red;
    width: 100%;
    height: 30%;
    margin: 1px;
    align-items: flex-end;
}
.row-column-container-12{
    display: flex;
    flex-direction: column;
    border: 2px dashed red;
    width: 30%;
    height: 100%;
    margin: 1px;
    align-items: flex-end;
}
/* 
    align-items: stretch; Weird thing is if height is specified it won't stretch the row or column. 
    In this example I have only specified a width for the row and a height for the column to illustrate stretch
     */


.ali-box-19 {
    background-color: blue;
    width: 20%;
    /* height: 30%; */
}
.ali-box-21 {
    background-color: red;
    width: 20%;
    /* height: 30%; */
}
.ali-box-31 {
    background-color: yellow;
    width: 20%;
    /* height: 30%; */
}
.ali-col-box-19 {
    background-color: blue;
    /* width: 40%; */
    height: 20%;
}
.ali-col-box-21 {
    background-color: red;
    /* width: 40%; */
    height: 20%;
}
.ali-col-box-31 {
    background-color: yellow;
    /* width: 40%; */
    height: 20%;
}     
.row-column-container-13{
    display: flex;
    flex-direction: row;
    border: 2px dashed red;
    width: 100%;
    height: 30%;
    margin: 1px;
    align-items: stretch;
}
.row-column-container-14{
    display: flex;
    flex-direction: column;
    border: 2px dashed red;
    width: 30%;
    height: 100%;
    margin: 1px;
    align-items: stretch;
}